@model Staffportal.Models.User
@{
    ViewBag.Title = "Update Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // var genderList = new List<string> {" ", "Male", "Female" };
    var genderList = new Dictionary<int, string> { { 1, "Male" }, { 2, "Female" } };
    //var maritalStatusList = new List<string> { " ", "Single", "Married", "Separated", "Divorced", "Widow(er)", "Other"};
    var maritalStatusList = new Dictionary<int, string> {
    { 1, "Single" }, { 2, "Married" }, { 3, "Separated" },
    { 4, "Divorced" }, { 5, "Widow(er)" }, { 6, "Other" }
};
    var religionList = new List<string> { "Christianity", "Islam", "Hinduism", "Other" };
    var tribeList = new List<string> { "Kikuyu", "Luo", "Luhya", "Kamba", "Kalenjin", "Other" };
    var countyList = new List<string> { "Nairobi", "Mombasa", "Kisumu", "Nakuru", "Kiambu", "Other" };
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-lg-12 mb-4 order-0">
            <div class="card">
                <div class="card-body">
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            @TempData["Error"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    @if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success alert-dismissible" role="alert">
                            @TempData["Success"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="text-uppercase">Profile</h5>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">

                                <li class="breadcrumb-item">
                                    <a href="@Url.Action("index","dashboard")">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item active">Profile</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="dropdown-divider"></div>
                    <form action="@Url.Action("UpdateProfileData","dashboard")" method="post">
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <label>Staff No</label><br />
                                <label class="text-primary">@Model.StaffNo</label>
                                <input type="hidden" name="StaffNo" value="@Model.StaffNo" />
                            </div>
                            <div class="col-md-3">
                                <label>Staff Name</label><br />
                                <label class="text-primary">@Model.StaffName</label>
                                <input type="hidden" name="StaffName" value="@Model.StaffName" />
                            </div>
                            <div class="col-md-3">
                                <label>Gender</label>
                                <select name="Gender" class="form-control" required>
                                    <option value="">-- Select Gender --</option>
                                    @foreach (var gender in genderList)
                                    {
                                        <option value="@gender.Key" @(Model.Gender == gender.Key.ToString() ? "selected" : "")>@gender.Value</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>DOB</label>
                                <input type="date" name="DOB" class="form-control" value="@Model.DOB" required />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-3">
                                <label>Marital Status</label>
                                <select name="MaritalStatus" class="form-control" required>
                                    <option value="">-- Select Status --</option>
                                    @foreach (var status in maritalStatusList)
                                    {
                                        <option value="@status.Key" @(Model.MaritalStatus == status.Key.ToString() ? "selected" : "")>@status.Value</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>Religion</label>
                                <input type="text" name="Religion" class="form-control" value="@Model.Religion" placeholder="Enter Religion" required />
                                
                            </div>
                            <div class="col-md-3">
                                <label>Tribe</label>
                                <input type="text" name="Tribe" class="form-control" value="@Model.Tribe" placeholder="Enter Tribe" required />
                                
                            </div>
                            <div class="col-md-3">
                                <label>Email</label>
                                <input type="email" name="EmailAddress" class="form-control" value="@Model.EmailAddress" required />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-3">
                                <label>Phone No.</label>
                                <input type="tel" name="PhoneNumber" class="form-control" value="@Model.PhoneNumber" required />
                            </div>
                            <div class="col-md-3">
                                <label>County</label>
                                <input type="text" name="County" class="form-control" value="@Model.County" placeholder="Enter county" required />
                                
                            </div>
                            <div class="col-md-3">
                                <label>ID No.</label>
                                <input type="text" name="IdNumber" class="form-control" value="@Model.IdNumber" required />
                            </div>
                            <div class="col-md-3">
                                <label>Postal Address</label>
                                <input type="text" name="PostalAddress" class="form-control" value="@Model.PostalAddress" required />
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="@Url.Action("index","dashboard")" class="btn btn-warning">Back</a>
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

